// Sticky Footer

html,body{
  height: 100%;
}

.wrap{
  min-height: 100%;
}

.body-container{
  overflow:auto;
  padding-bottom: 100px;
}
.small-left-margin{
  margin-left: 100px;
}
.small-pad{
  padding: 20px
}
.strech{
  width: 100%;
}
.small-margin-top-bottom{
  margin: 5px 0px 5px 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black url(spinner.gif) center center no-repeat;
  top: 0;
  left: 0;
  z-index: 10;
}

.big-font{
  font-size: 30px;
}

.relative {
  position: relative;
}