// Sticky Footer

html,body{
  height: 100%;
}

.wrap{
  min-height: 100%;
}

.body-container{
  overflow:auto;
  padding-bottom: 100px;
}
.small-left-margin{
  margin-left: 100px;
}
.small-pad{
  padding: 20px
}
.strech{
  width: 100%;
}
.small-margin-top-bottom{
  margin: 5px 0px 5px 0px;
}