<!DOCTYPE html>
<html ng-app="rockstar">
<head>

  <title>Workshop Seed</title>
  <% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% }); %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
  <div class="container-fluid">    
   <div ui-view="header"></div>
    <div class="row">
      <div ui-view="sidebar"></div>
      <div ui-view></div>
    </div>
  </div>
</body>
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</html>